.admin-login-bg {

    background-image: url("https://themewagon.github.io/jobboard/images/hero_1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 100vh;
  }
  
  .admin-login-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(0px); /* Appliquer le flou */
    background-color: rgba(255, 255, 255, 0.3); /* Couche blanche transparente */
    z-index: 1;
  }
  
  .admin-login-bg > .container {
    position: relative;
    z-index: 2;
  }