.modal.fade.show.d-block {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
  }
  .modal-dialog.modal-dialog-centered {
    margin: auto !important;
  }